@font-face {
	font-family: 'oduda';
	src: url('oduda.eot');
	src: local('☺'), url('oduda.woff') format('woff'), url('oduda.ttf') format('truetype'), url('oduda.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.preview {
	position: sticky;
	top: 16px;
	right: 16px;
	left: calc(100vw - 144px);
	width: 128px;
	height: 192px;
	border-radius: 8px;
	background-color: orange;
	font-family: 'oduda';
	padding: 12px;
	color: #1D2B53;
}

.preview-h1 {
	font-size: 18px;
	line-height: 16px;
	margin-bottom: 8px;
}

.preview-p {
	font-size: 14px;
	line-height: 12px;
}

.preview-box {
	float: left;
	background-color: #FFF1E8;
	border-radius: 4px;
	padding: 0 6px;
	max-height: 24px;
}

.preview .label {
	font-size: 10px;
	line-height: 10px;
	float: left;
	margin-top: -14px;
}

.preview img {
	width: 24px;
	height: 24px;
}

.preview-card {
	width: 40px;
	height: 48px;
	background-color: #FFF1E8;
	border-radius: 8px;
	float: right;
	margin-top: 12px;
	margin-right: 2px;
	padding: 4px 8px;
}

.preview-card img {
	margin-bottom: -8px;
}

.editor {
	width: 50%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 32px;
}

label {
	text-transform: uppercase;
	line-height: 2em;
	font-size: 0.75em;
}

input {
	width: 100%;
	margin-bottom: 24px;
	padding: 8px;
	font-size: 1em;
}

textarea {
	width: 100%;
	margin-bottom: 24px;
	padding: 8px;
	font-size: 1em;
}

select {
	width: 100%;
	margin-bottom: 24px;
	padding: 8px;
	font-size: 1em;
}

input[type='checkbox'] {
	width: 16px;
	margin-right: 16px;
}

.hidden {
	display: none;
}